 
 $radius: 35px;
 $lightBlue: aquamarine;
 @mixin boxShadow ($px){
     box-shadow: $px $px $px $px #888888;
 }
 @mixin button() {
    background-color: green;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
 }
 
 body{
     background-image: url('back.png');
 }
 #main.container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
  }

#mainbox{
    height: 700px;
    width: 500px;
    background-color: red;
    border-top-left-radius:$radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius:$radius; 
    @include boxShadow(10px);
    #nav{
        display: flex;
        justify-content: space-around;
        padding: 20px;
      
      }
      #big-dot{
  
        border-radius: 50%;
        background-color: $lightBlue;
        height: 60px;
        width: 60px;
        @include boxShadow(1px);
      }
        .dot{
  
          background-color:pink;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          @include boxShadow(1px)
      }
      
           .dot.two{
             @include boxShadow(1px);
             background-color: orange;
      }
               .dot.three{
                  background-color: greenyellow;
                  @include boxShadow(1px)
      }
       
    
  }

  img{
    width: 350px;
    height: 280px;
  }
  #mainImg{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    width: 360px;
    height: 300px;
    margin-left: 60px;
    margin-top: 10px;
    background-color: $lightBlue;
    border-radius: 10px;
    border-bottom-left-radius: 70px 90px; 
  }
  #btn{
    display: flex;
    #btnBlack{
        border-radius: 50%;
        background-color: black;
        height: 40px;
        width: 40px;
         margin-left: 50px;
         margin-top: 10px;
      
      }
      #btnYellow{
        background-color: yellow;
        width: 70px;
        height: 20px;
        border-radius: 20px;
        margin-left: 60px;
        
        }
        #btnPink{
            background-color: pink;
            width: 70px;
            height: 20px;
            border-radius: 20px;
            margin-left: 80px;
           }
  }

  #btnStart{
   @include button();
    margin-top: 60px;
    margin-left: 100px;
   
    #start{
        animation-duration: 4s;
    }
      #resetBtn{
        @include button();
        margin-top: 30px;
    
     }
        #prevBtn{
          @include button();
          margin-top: 30px;
      }
    
   }

   #secondbox{
    height: 700px;
    width: 500px;
    background-color: red;
    border-top-left-radius:$radius;
    border-top-right-radius: $radius;
    border-bottom-left-radius: $radius;
    @include boxShadow(10px);
    #text{
        display: flex;
        justify-content: space-around;
        border: 3px solid black;
        width: 360px;
        height: 300px;
        margin-left: 70px;
        margin-top: 10px;
        background-color: $lightBlue;
        border-radius: 10px;
        border-bottom-right-radius: 70px 90px; 
        
      } 
         
      #showAll{
       
       @include button();
       margin-top: 110px;
       margin-left: 200px;
       
      }
}
  
#pokelogo{
    height: 100px;
    width: 400px;
    margin-left: 60px;
}

@keyframes ballMoving{
    0%{
      transform: rotate(0deg)
    }
   
    100%{
      transform: rotate(360deg)
    }
  }

  #img.anime{
    animation: ballMoving 3s infinite;
  }
  
#pokemon{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    list-style: none;
    margin-top: 50px;
    
}


#show{
    //modal background
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
}
  
